body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #23282b;
    height: 100vh;
    margin: 10px;
    background-color: antiquewhite;
    padding-top: 40px;
}

h2,
h3 {
    font-style: italic;
    font-weight: lighter;
}

#creditos {
    display: block;
    text-align: center;
    font-size: 1rem;
}